In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB # FOR HANDILING DISCRETE VALUES

In [4]:
data=pd.read_csv('spam.csv')

In [5]:
data.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [6]:
data.shape

(5572, 2)

In [8]:
data.Category.unique()

array(['ham', 'spam'], dtype=object)

In [9]:
data['spam'] =data.Category.apply(lambda x: 1 if x=='spam' else 0)

In [10]:
data.head()

  Category                                            Message  spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0

In [12]:
data.tail()

     Category                                            Message  spam
5567     spam  This is the 2nd time we have tried 2 contact u...     1
5568      ham               Will ü b going to esplanade fr home?     0
5569      ham  Pity, * was in mood for that. So...any other s...     0
5570      ham  The guy did some bitching but I acted like i'd...     0
5571      ham                         Rofl. Its true to its name     0

In [14]:
data=data.drop('Category', axis=1)
data.head()

                                             Message  spam
0  Go until jurong point, crazy.. Available only ...     0
1                      Ok lar... Joking wif u oni...     0
2  Free entry in 2 a wkly comp to win FA Cup fina...     1
3  U dun say so early hor... U c already then say...     0
4  Nah I don't think he goes to usf, he lives aro...     0

In [15]:
x=data.Message
y=data.spam

In [19]:
x_train, x_test, y_train, y_test= train_test_split(x,y, test_size=0.25, random_state=37)

In [20]:
x_train.shape

(4179,)

In [21]:
from sklearn.feature_extraction.text import CountVectorizer

In [23]:
cv=CountVectorizer()
x_train_counter = cv.fit_transform(x_train.values)

In [24]:
cv.get_feature_names_out()

array(['00', '000', '000pes', ..., 'èn', 'ú1', '〨ud'], dtype=object)

In [25]:
pd.DataFrame(x_train_counter.toarray(), columns=cv.get_feature_names_out())

,00,000,000pes,008704050406,0089,0121,01223585236,01223585334,0125698789,02,...,zealand,zed,zeros,zhong,zoe,zogtorius,zouk,èn,ú1,〨ud
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4174,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4175,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4176,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4177,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4178,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [26]:
x_train_counter.shape

(4179, 7526)

In [27]:
model= MultinomialNB()

In [28]:
model.fit(x_train_counter, y_train)

MultinomialNB()

In [30]:
model.score(cv.transform(x_test), y_test)

0.9870782483847811

In [35]:
#prediction

emails= ['Can we get toghether to watch football match tomorrow?',
        'upto 20% discount on parking, exclusive offer just for you',
        'Go shopping with CASHe, stress-free!',
        'Get 10% Extra Cashback Samsung Axis Bank credit card',
        'SHIBIN , MoneyTap has a much better offer from a great partner just for you']

In [36]:
email_counter = cv.transform(emails)
model.predict(email_counter)

array([0, 1, 0, 1, 0], dtype=int64)