In [29]:
import pandas as pd
from sklearn.svm import SVC
from sklearn.datasets import load_iris
from sklearn.model_selection import GridSearchCV

from sklearn.preprocessing import LabelEncoder
import warnings
warnings.filterwarnings('ignore')

In [30]:
data=pd.read_csv('titanic.csv')

In [31]:
data.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

In [32]:
data=data.drop(['PassengerId', 'Name', 'Fare','Ticket', 'Cabin','Embarked'], axis=1)

In [33]:
a= LabelEncoder()
data['Sex']=a.fit_transform(data['Sex'])

In [34]:
data.isna().sum()

Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Survived      0
dtype: int64

In [35]:
data['Age'].fillna(data['Age'].mean(), inplace=True)
data.isnull().sum()

Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Survived    0
dtype: int64

In [36]:
data

     Pclass  Sex        Age  SibSp  Parch  Survived
0         3    1  22.000000      1      0         0
1         1    0  38.000000      1      0         1
2         3    0  26.000000      0      0         1
3         1    0  35.000000      1      0         1
4         3    1  35.000000      0      0         0
..      ...  ...        ...    ...    ...       ...
886       2    1  27.000000      0      0         0
887       1    0  19.000000      0      0         1
888       3    0  29.699118      1      2         0
889       1    1  26.000000      0      0         1
890       3    1  32.000000      0      0         0

[891 rows x 6 columns]

In [39]:
x=data.drop('Survived', axis=1)
y=data['Survived']

In [38]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

In [50]:
model_params = {'knn': {'model':KNeighborsClassifier(),'params':{'n_neighbors':[8,12,20]}},
                'DT': {'model':DecisionTreeClassifier(),'params':{'max_depth':[6,10,14]}},
               'RF':{'model':RandomForestClassifier(),'params':{'n_estimators':[5,10,15]}}}

In [52]:
scores =[]
models =['knn','DT','RF']
for model_name in models:
    mp= model_params[model_name]
    gds = GridSearchCV(mp['model'],mp['params'], cv=5, return_train_score=True)
    gds.fit(x,y)
    scores.append({'model': model_name, 'best score:' :gds.best_score_,'best_params:': gds.best_params_})

In [53]:
scores

[{'model': 'knn',
  'best score:': 0.7699328353524575,
  'best_params:': {'n_neighbors': 8}},
 {'model': 'DT',
  'best score:': 0.8193082669010107,
  'best_params:': {'max_depth': 6}},
 {'model': 'RF',
  'best score:': 0.8047705730964786,
  'best_params:': {'n_estimators': 5}}]